html,
body {
    font-family: "Montserrat", sans-serif;
    color: #000;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#me-app {
    padding: 20px;
}

#container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

@media screen and (max-width: 1280px) {
    #container {
        width: 100%;
    }
}
