{% extends '@app_common_resources/index.html.twig' %}

{% block title %} Me App | User List {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/jquery-datatable.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include '@app_common_resources/navigation-bar.html.twig' with userData %}
    <div id="container">
        <div class="user-list-wrapper">
            <div class="panel panel-default">
                <div class="panel-heading">User List</div>
                <div class="panel-body">
                    <table id="datatable" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
    {% include '@user_management_resources/user-form.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/helper.js') }}"></script>
    <script src="{{ asset('assets/js/user-management/main.js') }}"></script>
{% endblock %}
