<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        {% include '@app_bundle_resources/includes/header.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include '@app_bundle_resources/includes/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
