{% extends '@app_bundle_resources/index.html.twig' %}

{% block title %} Hello, World! {% endblock %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <p>{{ number }}</p>
    </div>
</div>
{% endblock %}
