<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %}</title>
        {% include '@app_common_resources/header.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="me-app">
            {% block body %}{% endblock %}
        </div>
        {% include '@app_common_resources/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
