.login-wrapper {
    margin: 50px auto;
    width: 340px;
}

.login-wrapper h1 {
    font-size: 1.7em; 
}


.panel {
    border-radius: 0;
    box-shadow: 0 0 0;
}

.panel-default>.panel-heading {
    border-radius: 0;
}

.sign-up-text {
    text-align: center;
    font-size: 0.9em;
    color: #5f5f5f;
}

.copyright-text {
    text-align: center;
    color: #5f5f5f;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .login-wrapper {
        margin: 40px auto;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
