{% extends '@domain_common_resources/index.html.twig' %}

{% block title %} Me App | Home {% endblock %}

{% block body %}

{% include '@domain_common_resources/navigation-bar.html.twig' %}
<div id="wrapper">
    <div id="container">
        <div class="home-wrapper">
            {% include '@expense_management_resources/expense.html.twig' with data %}
        </div>
	</div>
</div>

{% endblock %}
